{% load static %}
<header>
    <div class="header-content">
        
        <div class="header-actions-left">
            
            <button class="btn icon-btn" id="menuToggleBtn">
                <i class="fas fa-bars"></i>
            </button>
            <button class="btn" id="syncBtn">
                <i class="fas fa-sync"></i>
                <span class="btn-text">Синхронизировать</span>
            </button>
        </div>

        <div class="header-actions">
            
            <button class="btn icon-btn" id="notificationBtn">
                <i class="fas fa-bell"></i>
            </button>
            
            <div class="profile-dropdown">
                <button class="btn avatar-btn" id="avatarBtn">
    {% if request.user.profile.avatar %}
        <img src="{{ request.user.profile.avatar.url }}" class="header-avatar-img">
    {% else %}
        <span style="font-weight:bold; font-size: 18px;">
            {{ request.user.username|make_list|first|upper }}
        </span>
    {% endif %}
</button>
                
                <div class="dropdown-menu" id="profileDropdownMenu" style="display: none;">
                    <a href="{% url 'profile_page' %}" class="dropdown-item">
                        <i class="fas fa-user-circle"></i>
                        <span>Мой профиль</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <form action="{% url 'logout' %}" method="post" class="dropdown-item-form">
                        {% csrf_token %}
                        <button type="submit" class="dropdown-item logout-btn">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>Выйти</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>