{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход в EcoPrint</title>
    <link rel="icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    
    <script src="https%3A//kit.fontawesome.com/50b7594b09.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

    <div class="login-container">
        <div class="logo">
            <div class="logo-text">
                <span class="eco">Эко</span><span class="print">Принт</span>
            </div>
        </div>

        <form method="post">
            <h2>Вход в аккаунт</h2>
            {% csrf_token %}
            
            <div>
                <label for="id_username">Логин:</label>
                <input type="text" name="username" id="id_username" required autofocus>
            </div>
            
            <div>
                <label for="id_password">Пароль:</label>
                <input type="password" name="password" id="id_password" required>
            </div>
            
            {% if form.errors %}
                <p class="error">Неверный логин или пароль.</p>
            {% endif %}
            
            <button type="submit">Войти</button>
        </form>
    </div>

</body>
</html>